html, body, #mapDiv {
      padding: 0;
      margin: 0;
      height: 100%;
      border:0;
      width:100%;
    }

#mapDiv_root {
    width:100% !important;
    height:100% !important;
}

#HomeButton {
    position: absolute;
    top: 95px;
    left: 20px;
    z-index: 50;
}

#container {
    width: 100%; 
    height: 100%;
}

#search {
    position: absolute;
    left:10%;
    top:2.5%;
    z-index:999999;
}

#topPane {
    height: 6%;
    overflow: hidden;
}

#toolBar {
    margin-left: 25% !important;
}

#centerPane {
    height: 100%;
    width:100%;
    border-top: 5px solid #424242;
    border-bottom: 5px solid #424242;
    padding:0;
}

#bottomPane {
    height:20%;
    overflow: hidden;
    z-index: 99999 !important;
    /*display:none;*/
}


#leftPane {
    width:15%;
    height:100%;
    border-top: 5px solid #424242;
    border-bottom: 5px solid #424242;
    border-right: 1px solid #424242;
    /*display:none;*/
}

td {
    width: 20%;
}

#legend, #changeBasemap, #findConflicts {
    cursor: pointer;
    margin-left: 25%;    
    align-items:center;
    align-content:center;
}

#legend:hover, #changeBasemap:hover, #findConflicts:hover {
    /*border: 2px solid #a1a1a1;*/
    /*padding: 10px 40px;*/ 
    background-color: #dddddd;
    /*width: 50px;*/
    border-radius: 15px;
}

#legend, #changeBasemap, #findConflicts {
    margin-left: 40%;
}

div.esriGeocoderResults {
    z-index:99999;
}

#legend {
    /*background-image: url(../images/legend.png);
    background-position: left center;
    background-repeat: no-repeat;*/
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}

#changeBasemap {
    /*background-image: url(../images/changeBasemap.png);
    background-position: left center;
    background-repeat: no-repeat;*/
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}

#findConflicts {
    /*background-image: url(../images/findConflicts.png);
    background-position: left center;
    background-repeat: no-repeat;*/
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.conflictsBorder {
    border: 1px solid;
    background-color: #CCCCCC;
    border-radius: 5px;
}

.conflictsTitle {
    border: 0px;
    background-color: #8C8C8C;
    border-radius: 1px;
}

.conflictsSpacing {
    margin: 20px;
}

#findConflictsBtn {
    
}

#basemapGalleryContainer {
    position:absolute;
    left:100px;
    top: 7px;
    width: 1130px;
    height: 150px;
    z-index:99999;
    background-color: #dddddd;
    border-radius: 15px;
}

#basemapInnerContainer {
    margin:15px;
}

#resultsGridTab {
    width:70px !important; 
    height:25px !important; 
    background-color:#ddd !important; 
    position:absolute;
    left:17%;
    top:74.5%;
    z-index:99999;  
    border-radius: 1px;
    text-align:center;
    border:2px solid #424242;
    cursor:pointer;
}

#resultsGridTab:hover {
    background-color:#424242 !important;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    color:white;
}

#legendDiv {
    border: 1px solid;
}

#esriGeocoderResults {
    z-index:999999 !important;
}


@import "dgrid/css/dgrid.css";

.dgrid-column-name {
   width: 20em;
}

#my-grid .dgrid-column-name {
   width: 20em;
}

.field-name {
   width: 20em;
}

.dgrid { /* this grid itself */
   width: 100%;  /* the grid will be 50% of the surrounding page or element */
}
.dgrid-column-name {
   width: 200px; /* this column will use 200px */
}
.dgrid-column-name {
   width: auto; /*  this column will use whatever space remains (this is the default, so doesn't really need to be specified)*/
}

.dgrid-column-name {
   background-color: blue;
   color: red;
   font-weight: bold;
}

.dgrid-cell {
   width: 80px; /* make all the columns 80px wide*/
}
 
.dgrid-column-name {
   width: 50px; /* except the name column should be 50px wide*/
}

.dgrid-cell-padding {
   padding: 5px;
}

.dgrid {
    height: auto;
}
.dgrid .dgrid-scroller {
    position: relative;
    overflow: visible;
}

.dgrid .dgrid-scroller {
    position: relative;
    max-height: 200px;
    overflow: auto;
}

.dgrid-cell {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dgrid-row-odd {
    background: #DFDFDF;
}

.dgrid-row-even {
    background: #C9C9C9;
}

.dgrid-cell {
    border: none;
}

.dgrid-selected {
    background: #6697E0; /* Make selected rows be gray */
}